{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
    // "cypress/globals": true
    // "serviceworker": true,
    // "mongo": true,
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".json"],
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6, // if changed also update `target` in tsconfig.json
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking", // this is slow, we might need to separate it
    "prettier"
  ],
  "rules": {
    // TODO: Check if this is fixed
    // when using the package name for absolute imports it reports error
    // ex: import '@gulab-client/utils/src/object/removeValues' in 'core\utils\src\string\capitalizeEachWord.ts'
    "import/no-extraneous-dependencies": ["off"],
    "max-len": ["error", { "code": 120 }],
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    // note you must disable the base rule as it can report incorrect errors
    // we are using @typescript-eslint/no-use-before-define
    "no-use-before-define": "off",
    "react/jsx-no-bind": ["error", { "allowFunctions": true }],
    // when extending components from mui it's simpler to pass all props with spread
    "react/jsx-props-no-spreading": "off"
  }
}
